* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    color: #e0e0e0;
    background: #121212;
    position: relative;
}

.background {
    background: url('/static/img/backgroundLanding.jpg') no-repeat center center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.3);
}

.content {
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    background: rgba(18, 18, 18, 0.7);
}

h1 {
    color: #ff4081;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

#startButton {
    display: block;
    margin: 20px auto;
    background-color: #6200ea;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #3700b3;
}